
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Express App</title>
    <!-- CDN -->
    <link rel="icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1674766/icon32.png">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1674766/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1674766/all.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1674766/bootstrap.min.css">
    <!-- Public -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!-- site navigation -->
    <nav class="navbar" aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/">Home</a></li>
        <li class="page-item"><a class="page-link" href="/about">About</a></li>
        <li class="page-item"><a class="page-link" href="/contact">Contact</a></li>
        <li class="page-item"><a class="page-link" href="/upload">Upload</a></li>
      </ul>
    </nav>
    <!-- /site navigation -->
