<%- include('partials/header'); -%>
<header class="navbar border-bottom border-dark p-0">
  <nav class="btn-group">
    <a class="btn btn-sm" href="https://github.com/Autoraidapi/heroics/">Github</a>
  </nav>
</header>
<article class="jumbotron">
  <h3>Home</h3>
</article>
<footer class="navbar navbar-dark bg-dark border-top border-dark"></footer>
<%- include('partials/footer'); -%>
